<section class="section-divider textdivider divider4">
<div class="container" id="team" name="team">
    <br>
    <div class="row white centered">
        <h2 class="centered"><strong>Say Hello to:</strong></h2>
        <hr>
    
    </div>
    
{{# each guests}}
   <div class= "row-sm-12">
   {{# each this}}
   	 <div class="col-sm-4">
     <img class="img img-circle" src="{{this.imagePath}}" height="120px" width="120px" alt="">
          <br>
          <h4><b>{{this.firstName}}  {{this.lastName}}</b></h4>
          <a href={{this.linkedin}} target="_blank"><img src="img/linkedin.png" height = "40px" width="40px"></a>
          <p>{{this.position}}</p>
          <p>Table number: {{this.table}}</p>
      </div><!-- col-lg-3 -->
   
  </div><!--row-->
{{/each}}
</div><!--container-->
{{/each}}
</div>
</section>

`


